.Button {
    position: relative;  
    display: inline-block;
    padding: 10px 20px;
    overflow: hidden;      
    background: transparent;
    border:2px solid $color_add;
    color: $color_main;    
    background-image: radial-gradient(rgba(0,0,0,0) 0%,  rgba($color_add,.01) 50%, rgba($color_add,0.9) 100%);
   
   
    background-position: 50% 50%;
    background-size: 0% 0%;
    color: white;   
    transition:all 0.5s cubic-bezier(.97, .16, 1, .01);      

    &:hover, &:focus {
      background-size:170% 170%;
     }

    &:after {
      content: "";
      
      position: absolute;
      top: 50%;
      left: 50%;
      
      display: block;
      width: 0;
      padding-top: 0;
        
      border-radius: 100%;
      
      background-color: rgba($color_add,.3);

      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    &:active:after {
      width: 120%;
      padding-top: 120%;      
      transition: width .2s ease-out, padding-top .2s ease-out;
    } 
}
  
    
