.Button {
    position: relative;  
    display: inline-block;
    padding: 10px 20px;
    overflow: hidden;      
    background: transparent;
    border:2px solid $color_add;
    color: $color_main;    
    transition: background-color .3s;

    &:hover, &:focus {
      background-color: rgba($color_add,.05);
    }

    &:after {
      content: "";
      
      position: absolute;
      top: 50%;
      left: 50%;
      
      display: block;
      width: 0;
      padding-top: 0;
        
      border-radius: 100%;
      
      background-color: rgba($color_add,.3);

      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    &:active:after {
      width: 120%;
      padding-top: 120%;      
      transition: width .2s ease-out, padding-top .2s ease-out;
    } 
}
  
    
