
@import "./reset.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./helpers.scss";


html {
    font-family: $font_main;
    margin: 0;   
    padding: 0;
    font-size: 16px;
    line-height: 1.4;

    @include mq($sm_bp) {
        font-size: 20px;
    }

}

body {
    min-width: 320px;
    position: relative;
    overflow-x: hidden;   
    margin: 0;
    padding: 0;

    &.is-grid::after {
        content: '';
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.15;
        background-image: repeating-linear-gradient(90deg, transparent 0px, transparent 8.333333%, #00f 8.333333%, #00f 16.666666%);
        pointer-events: none;

        @include mq($xs_bp) {
            background-image: repeating-linear-gradient(90deg, transparent 0px, transparent 16.666666%, #00f 16.666666%, #00f 33.333333%);
            font-size: 15px;
        }
    }
}

div {
    position: relative;
}

.wrapper {
    max-width: $wrapperWidth;
    @include wrapper-indent();
}

a {
    text-decoration: none;
}

b {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

input,
select,
button {
    -webkit-appearance: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.svg-animation-path {
    path {
        transition: stroke-dashoffset 1s $easeInOutCirc;
    }
}

button {
    -webkit-appearance: none;
    border-radius: 0;
}

h1,
.h1 {

}

h2,
.h2 {
    
}

h3,
.h3 {
    
}


h4, .h4 {
    
}

p,
li,
td {
    
}

.section {
    @include block_padding();
}

