/*=============================================
=         H e l p e r   c l a s s e s         =
=============================================*/


// Floats

.h-clear {
    @include clearfix;
}



// Hidden
//--------------------------------------
.h-hide {
    display: none !important;
}

.h-show {
    display: block;

    &--inline {
        display: inline !important;
    }

    &--inline-block {
        display: inline-block !important;
    }
}

.h-transparent {
    opacity: 0;
}

.h-slow-show {
    opacity: 1;
    transition: opacity 1s ease-out;
}

// Adaptiv Helpers
//--------------------------------------
.h-xs-show {
    display: block!important;;;

    &--inline {
        display: inline!important;;;
    }

    &--inline-block {
        display: inline-block!important;
    }

    @include mq($xs_bp) {
        display: none !important;
    }
}

.h-xs-hide {
    display: none !important;

    @include mq($xs_bp) {
        display: block !important;

        &--inline {
            display: inline !important;
        }

        &--inline-block {
            display: inline-block !important;
        }
    }
}

.h-mobile-hide {
    display: none !important;


    @include mq($sm_bp) {
        display: block !important;

        &--inline {
            display: inline !important;
        }

        &--inline-block {
            display: inline-block !important;
        }

        &--flex {
            display: flex !important;
        }
    }
}

.h-mobile-show {
    display: block!important;

    &--inline-block {
        display: inline-block !important;
    }

    &--flex {
        display: flex !important;
    }

    @include mq($sm_bp) {
        display: none !important;
    }

}

.h-mobile-show--flex {
    display: flex !important;


    @include mq($sm_bp) {
        display: none !important;
    }
}

.h-tablet-hide {
    display: block;

    &--inline {
        display: inline;
    }

    &--inline-block {
        display: inline-block;
    }

    &--flex {
        display: flex;
    }

    @include mq($md_bp) {
        display: none;
    }
}

.h-tablet-show {
    display: none;

    @include mq($md_bp) {
        display: block;

        &--inline {
            display: inline;
        }

        &--inline-block {
            display: inline-block;
        }
    }
}

.h-desktop-hide {
    display: block;

    &--inline {
        display: inline;
    }

    &--inline-block {
        display: inline-block;
    }

    @include mq($lg_bp) {
        display: none;
    }
}

.h-desktop-show {
    display: none;

    @include mq($lg_bp) {
        display: block;

        &--inline {
            display: inline;
        }

        &--inline-block {
            display: inline-block;
        }
    }
}


.h-nowrap {
    white-space: nowrap;
}
