@mixin clearfix {
    &::after {
        content: '';
        display: table !important;
        clear: both;
        height: 0 !important;
        visibility: hidden;
    }
}

//МЕДИАЗАПРОСЫ
@mixin mqMin($from, $to: false) {
    @if $to {
        @media (min-width: $from + 0px) and (max-width: $to + 0px) {
            @content;
        }
    }

    @else {
        @media (max-width: $from + 0px) {
            @content;
        }
    }
}


@mixin mqOld($from, $to: false) {
    @if $to {
        @media (min-width: $from + 0px) and (max-width: $to + 0px) {
            @content;
        }
    }

    @else {
        @media (max-width: $from + 0px) {
            @content;
        }
    }
}


@mixin mq($from, $to: false) {
    @if $to {
        @media (min-width: $from + 0px) and (max-width: $to + 0px) {
            @content;
        }
    }

    @else {
        @media (min-width: $from + 0px) {
            @content;
        }
    }
}



// WRAPPER
@mixin wrapper-indent {
    margin: 0 auto;
    padding: 0 $wrapperIndentSm;

    @include mq($sm_bp) {
        padding: 0 $wrapperIndent;
    }

   
}

//сетка флексами - строка, колонка, размер колонки в формате (width row-flex)*$n/12
@mixin row-flex($margin: false) {
    display: flex;
    flex-wrap: wrap;

    @if $margin {
        margin-left: ($margin * -1);
        margin-right: ($margin * -1);
    }

    @else {
        margin-left: ($offset_one_side * -1);
        margin-right: ($offset_one_side * -1);
    }    
}

@mixin col($margin: false) {
    box-sizing: border-box;

    @if $margin {
        margin-left: $margin;
        margin-right: $margin;
    }

    @else {
        margin-left: $offset_one_side;
        margin-right: $offset_one_side;
    }

}

@mixin size($n, $margin: false) {
    $value: $atom * $n; // width: ~"calc(@{value} - @{offset})";

    @if $margin {
        width: calc(#{$value} - #{$margin * 2});
    }

    @else {
        width: calc(#{$value} - #{$offset});
    }
}

// ОТСТУПЫ БЛОКОВ
//
@mixin block-padding {
    padding-bottom: $block_bp_sm;

    @include mq($sm_bp) {
        padding-bottom: $block_bp;
    }
}

//АНИМАЦИЯ
@mixin transitionSt($name) {
    transition: $name 0.5s ease-out;
}

/*HELPERS*/
/*миксин сетки для определения центра элемента*/
@mixin h-center {
    border: 1px solid DeepSkyBlue;

    &:before {
        content: '';
        display: block;
        position: absolute;
        border-bottom: 1px solid LimeGreen;
        width: 100%;
        left: 0;
        top: 50%;
        z-index: 100;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        border-left: 1px solid LimeGreen;
        height: 100%;
        left: 50%;
        top: 0;
        z-index: 100;
    }
}

