.footer {
	background:#04060c;
	padding:25px 0;
    border-top: 1px solid #0e1424;
    p {
        text-align:center;
        font-size:0.75em;
        line-height:1.2;
        color:#acacac;
    }
    a {
        color:#777777;
    }
}    

