.slider{
    width: 100%;
    min-height:100vh;
    margin: 0 auto;
    text-align: center;
    overflow:hidden;
    background:#000;
    border-bottom: 1px solid #4f4f4f;
}

.slider-list {
    position: relative;
    min-height: 100vh;
}

.item{
    min-width:100%;
    position: absolute;
    left: 0;
    opacity: 0; 
}
.itemActive{
    transition:opacity 0.1s ease-out;
    opacity:1;
    z-index:5;
} 
.img {
    position:absolute;
    height:100%;
    width:100%;
}
.img_1 {
    background:url(/images/index/1.jpg) center center;
    background-size:cover;
}

.img_2 {
    background:url(/images/index/2.jpg)center center;
    background-size:cover;
}
.img_3 {
    background:url(/images/index/3.png);
    background-size:cover;

}
.slider-list__item.showed-first {
    opacity:1;
    z-index:5;
}

.slider .btn {max-width:202px;}
.showed .slider-list__item_decrease, 
.showed-first .slider-list__item_decrease{
    animation: decrease 9.5s linear;
     animation-fill-mode: forwards;
}
.showed .slider-list__item_increase {
    animation: increase 9.5s linear;
     animation-fill-mode: forwards;
}
.slider__content {
      padding-bottom:130px;
    opacity:0;
    //transition: all 3s linear 2s;
}
.slider__content .container {
    padding:calc(5vh + 81px) 40px 25px;
    //min-height:100vh;
}
.showed-first .slider__content {
    opacity:1;
}
.showed .slider__content {
    transition: opacity 1s linear 0.5s;
    opacity:1;
}
.slider__content p {
    color:#fff;
}

.slider__text {
    margin:0 40px 25px;
}
.slider__footer {
  position:absolute;
    bottom:15px; 
    width:100%;
    text-align:center; 
}
.model-desc-link_txt {
    font-size:1.75em;  
    text-align:center;
    display:block;
    color:#cbcbcb; 
    text-decoration:none;
}

.slider-buttons {
    position:absolute;
    top:calc(50% - 50px);
    z-index:10;
    width:100%;
}
.slider-buttons span {
    display:inline-block;
    position:absolute;
    cursor: pointer;
    opacity:0.5;
    width:40px;
    height:40px;
}
.slider-buttons span:hover {
    opacity:1;
    transition: opacity 0.3s linear;
}
/*.slider-buttons__prev {
    background:url(../img/prev.png);
    background-size:cover;
    left:10px;
}
.slider-buttons__next {
    background:url(../img/right-arrow.svg);
      background-size:cover;
    right:10px;
}*/
.slider__number {
    display:none;
}

@keyframes decrease {
  from {transform: scale(1);}
  to {transform: scale(1.2);}
}
@keyframes increase {
  from {transform: scale(1.2);}
  to {transform: scale(1);}
}  
@keyframes fadeIn {
  0% {
    display:none;
    opacity:0;
  }
  1% {
    display:block;
    opacity:0;
  }
  100% { 
    display:block;
    opacity:1;}
}
@keyframes fadeOut {
  0% {
    display:block;
    opacity:1;
  }
  99% {
    display:block;
    opacity:0;
  }
  100% { 
    display:none;
    opacity:0;}
}
.bounce {
    display:block;
    margin:20px auto 10px;
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    width: 40px;
    height: 40px;
  //  background-image: url(../img/banner_arrow.png);
    background-size:cover;
 
}
@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    60% {
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}
@media screen and (min-width: 768px) {
    .slider__number {
    display:block;
    position:absolute;
    left:0; 
    top:200px;
    font-size:80px;
    text-shadow:2px 2px #000;
    font-weight:bold;
}
 .slider__number:before { 
    content:'[';
    font-weight:lighter;
    position:absolute;
    border-bottom:1px solid #fefefe; 
    width:200px;
    left:-220px; top:60px;
}

    .slider__content {
        min-height:100vh;
    }
    .slider__content .container {
        padding-top:40vh;
    }
    .slider__text {
        max-width:700px; 
        margin:0 auto 25px;
    }
    
    .slider-buttons__prev {
        left:30px;
    }
    .slider-buttons__next {
        right:30px;
    }
    .slider-buttons span {
      width:100px;
    
    height:100px;}
}